* {
    box-sizing: border-box;
    background-image: url("dark-grey-background-15282.png");
  
  }
  
  h1 {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .first-name {
    font-family: 'Parisienne', cursive;
  }
  
  .last-name {
    font-family: 'Unica One', cursive;
    color: rgb(39, 163, 245);
  }
  
  header {
    /* float: left; */
  }
  
  nav img {
    width: 34px;
    height: 34px;
    
  }
  
  p {
    font-family: 'Inconsolata', monospace;
  }
  
  .personal-life {
    color: rgb(107, 107, 18);
  }
  
  main {
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
  }
  
  main div {
    width: 250px;
  }
  
  hr {
    width:200px;
    height: 4px;
    color:#ffee10
  }
  
  .nav-bar {
    text-align: center;
  }
  //////The two sections////////
  
  .intro {
    text-align: center;
  }
  
  .hobbies {
  
  }
  
  .linkedin github email:hover {
    color: yellow;
    box-shadow:#ffee10;
    text-shadow: #ffee10
  }
  
  footer {
    content: '';
    background-color:#ffee10;
    text-align:center;
  }